body {
  margin: 0;
}

#map {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#side_bar {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 50px;
  height: 100vh;
  box-shadow: 0px 0px 10px -2px gray;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#menu_icon {
  width: 20px;
  height: auto;
}

#dashboard_icon {
  width: 35px;
  height: auto;
}

#menu_container,
#dashboard_container {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu_container:hover,
#dashboard_container:hover {
  background-color: #9cd4db;
  cursor: pointer;
}

.leaflet-control-zoom {
  position: absolute;
  top: calc(100vh - 95px);
  left: calc(100vw - 50px);
}

.leaflet-control-geocoder {
  position: fixed;
  left: 60px;
}

.hidden {
  display: none;
}

#formModal {
  width: 450px;
  height: 500px;
  position: absolute;
  z-index: 3;
  top: calc(50vh - 250px);
  left: calc(50vw - 225px);
  background-color: white;
  box-shadow: 0 0 30px 0px gray;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 0;
}

#formSubmit {
  position: absolute;
  top: calc(100% - 70px);
  left: calc(100% - 120px);
  width: 100px;
  height: 50px;
  border-radius: 2rem;
  font-size: 1rem;
  border: none;
  background-color: green;
  color: white;
}

#formSubmit:hover {
  cursor: pointer;
}

#logo2 {
  position: absolute;
  width: 200px;
  height: auto;
  z-index: 0;
  top: calc(100vh - 80px);
  left: 60px;
}

#formGuest {
  width: 180px;
  height: 2.5rem;
  border-radius: 1rem;
  padding-left: 1rem;
  margin: 0.7rem 20px 0.8rem 0;
  border: 1px solid black;
}

#formDuration {
  width: 180px;
  height: 2.5rem;
  margin: 0.7rem 0;
  padding-left: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

#formFeedback {
  width: 385px;
  height: 2.5rem;
  margin: 0.7rem 0;
  padding-left: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.formTextArea {
  width: 385px;
  height: 2.5rem;
  margin: 0.7rem 0;
  padding-left: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  padding-top: 0.5rem;
}

.leaflet-control-geocoder-form {
  height: auto !important;
  visibility: visible !important;
}

#modalCross {
  position: absolute;
  top: -0.3rem;
  left: calc(100% - 2rem);
  font-size: 2rem;
}

#modalCross:hover {
  cursor: pointer;
}

#modalOverlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: black;
  opacity: 0.2;
  z-index: 2;
}

.menuModal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 50px;
  width: 240px;
  height: 100px;
  background-color: white;
  box-shadow: 0px 0px 10px -2px gray;
}

.menuModalOverlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.2;
  z-index: 0;
}

.menuModal__Option-1,
.menuModal__Option-2 {
  width: 240px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.menuModal__Option-1:hover,
.menuModal__Option-2:hover {
  background-color: lightgray;
  cursor: pointer;
}

.formSelected {
  font-size: 0.8rem;
  width: 385px;
  margin-bottom: 1rem;
  margin: 0.7rem 0;
}

.formEdit:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .formSelected {
    width: 90%;
  }

  #formModal {
    width: 90vw;
    height: 80vh;
    position: absolute;
    top: 10vh;
    left: 5vw;
    overflow-y: scroll !important;
  }

  #formPurpose,
  #formFeedback,
  #formGuest,
  #formDuration {
    width: 90%;
  }

  #formSubmit {
    position: relative;
    display: block;
  }
}
