@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap");

.outline {
  z-index: 2;
  width: 100%;
  height: 100%;
  border: 8px solid green !important;
  box-sizing: border-box;
}

.credits {
  position: fixed;
  top: calc(100% - 60px);
  z-index: 2;
  left: 20px;
  font-family: "Hedvig Letters Sans", sans-serif;
  color: black;
}

.credit_icon {
  width: 40px;
  border-radius: 1.25rem;
  font-size: 2rem;
}

#discover {
  margin-left: 0.5rem;
}

#mark_text {
  z-index: 2;
  position: fixed;
  width: 300px;
  height: 3rem;
  top: 0;
  left: calc(50% - 150px);
  background-color: green;
  text-align: center;
  border-radius: 0 0 1rem 1rem;
  font-size: 1.2rem;
  padding-top: 0.4rem;
  font-weight: 500;
  color: white;
}

body {
  margin: 0;
}

#map {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#btn_mark {
  z-index: 2;
  position: fixed;
  top: calc(100% - 115px);
  left: calc(100% - 330px);
  width: 275px;
  height: 60px;
  box-shadow: 0px 0px 10px -2px gray;
  background-color: #00bf63;
  border-radius: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: "Hedvig Letters Sans", sans-serif;
  font-size: 1rem;
}

#btn_exit {
  z-index: 3;
  position: fixed;
  top: calc(100% - 115px);
  left: calc(100% - 330px);
  width: 275px;
  height: 60px;
  box-shadow: 0px 0px 10px -2px gray;
  background-color: red;
  border-radius: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: "Hedvig Letters Sans", sans-serif;
  font-size: 1rem;
}

#btn_mark:hover {
  cursor: pointer;
  background-color: green;
}

#btn_exit:hover {
  cursor: pointer;
  background-color: darkred;
}

#menu_bar {
  z-index: 2;
  position: fixed;
  top: calc(100% - 115px);
  left: calc(100% - 620px);
  width: 275px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.container {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  box-shadow: 0px 0px 10px -2px gray;
}

.icon {
  width: 25px;
  height: auto;
}

#center_icon:hover,
.icon:hover {
  background-color: lightgray;
  cursor: pointer;
}

.leaflet-control-zoom {
  position: fixed;
  top: 5px;
  left: calc(100vw - 60px);
}

.leaflet-control-attribution {
  visibility: hidden;
}

.leaflet-control-geocoder {
  position: fixed;
  left: 15px;
  top: 15px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
}

.leaflet-control-geocoder-icon {
  border-radius: 1.25rem;
  padding-left: 3rem;
}

.leaflet-control-geocoder-form {
  display: inline-block !important;
  font-size: 0.7rem;
}

.leaflet-control-geocoder-alternatives {
  position: fixed;
  left: 15px;
  top: 80px;
  width: 304px;
  background-color: white;
  border-radius: 1.25rem;
  padding: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.35);
}

.hidden {
  display: none;
}

#formModal {
  width: 450px;
  height: 500px;
  position: absolute;
  z-index: 3;
  top: calc(50vh - 250px);
  left: calc(50vw - 225px);
  background-color: white;
  box-shadow: 0 0 30px 0px gray;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 0;
}

#formSubmit {
  position: absolute;
  top: calc(100% - 70px);
  left: calc(100% - 185px);
  width: 150px;
  height: 50px;
  border-radius: 2rem;
  font-size: 1rem;
  border: none;
  background-color: green;
  color: white;
}

#formSubmit:hover {
  cursor: pointer;
}

#formGuest {
  width: 180px;
  height: 2.4rem;
  border-radius: 1rem;
  padding-left: 1rem;
  margin: 0.7rem 20px 0.8rem 0;
  border: 1px solid black;
}

#formDuration {
  width: 180px;
  height: 2.4rem;
  margin: 0.7rem 0;
  padding-left: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

#formFeedback,
#formPurpose {
  width: 385px;
  height: 2.4rem;
  margin: 0.7rem 0;
  padding-left: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.formTextArea {
  width: 385px;
  height: 2.4rem;
  margin: 0.7rem 0;
  padding-left: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  padding-top: 0.4rem;
}

.leaflet-control-geocoder-form {
  height: auto !important;
  visibility: visible !important;
}

#modalCross {
  position: absolute;
  top: -0.3rem;
  left: calc(100% - 2rem);
  font-size: 2rem;
}

#modalCross:hover {
  cursor: pointer;
}

#modalOverlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: black;
  opacity: 0.2;
  z-index: 2;
}

.menuModal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 50px;
  width: 240px;
  height: 100px;
  background-color: white;
  box-shadow: 0px 0px 10px -2px gray;
}

.menuModalOverlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.2;
  z-index: 0;
}

.menuModal__Option-1,
.menuModal__Option-2 {
  width: 240px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.menuModal__Option-1:hover,
.menuModal__Option-2:hover {
  background-color: lightgray;
  cursor: pointer;
}

.formSelected {
  font-size: 1.1rem;
  width: 385px;
  margin-bottom: 1rem;
  margin: 0.7rem 0;
}

.formEdit:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  .formSelected {
    width: 90%;
  }

  #formModal {
    width: 90vw;
    height: 60vh;
    position: absolute;
    top: 20vh;
    left: 5vw;
    overflow-y: scroll !important;
  }

  #formPurpose,
  #formFeedback,
  #formGuest,
  #formDuration {
    width: 90%;
  }

  #formSubmit {
    position: relative;
    display: block;
    width: 150px;
    margin-left: 10%;
    margin-top: 1rem;
    left: calc(50% - 75px);
  }
}
